* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Exo", sans-serif;
}
body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  font: 6rem/7.5rem "Exo", sans-serif;
  margin: 0 0 40px;
  font-weight: 200;
  color: #282828;
  letter-spacing: 2px;
}
@media (max-width: 375px) {
  h1 {
    font: 3rem/7.5rem "Exo", sans-serif;
  }
}

h2 {
  font: 4rem/5rem "Exo", sans-serif;
  margin: 0 0 40px;
  font-weight: 500;
  color: #282828;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font: 2.2rem/3.5rem "Exo", sans-serif;
  margin: 0 0 15px;
  font-weight: 500;
  color: #282828;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: breakpoint-small) {
  h3 {
    font: 1.8rem/2.5rem "Exo", sans-serif;
  }
}

h4 {
  font: 1.8rem/3rem "Exo", sans-serif;
  margin: 0 0 25px;
  font-weight: 500;
  color: #282828;
  letter-spacing: 1px;
}
h4.footer-heading {
  font: 1.8rem/2.5rem "Exo", sans-serif;
  letter-spacing: 2px;
}

h5 {
  font: 1.4rem/2.4rem "Exo", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
}

h6 {
  font: 1.4rem/2.4rem "Exo", sans-serif;
  margin: 0 0 25px;
  font-weight: 400;
  color: #ccc;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, ul, ol, dl, table, hr, pre, blockquote {
  margin: 0 0 25px;
  line-height: 2.6rem;
}

form {
  margin-bottom: 50px;
}

input, textarea, select {
  outline: none;
}

input,
textarea {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f6f5f3;
  padding: 15px 25px;
  border: none;
}

input:not([type=submit]),
textarea {
  background-color: #464c77;
}

input[type=submit] {
  background-color: #ff6d6d;
  font-size: 1.6rem;
}

textarea {
  resize: none;
}

section {
  padding: 170px 0px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  justify-content: center;
}
.row-wrapper.small-gap {
  margin-left: -30px;
}
.row-wrapper.small-gap > div[class^=col] {
  padding-left: 30px;
}
.row-wrapper.no-gap {
  margin-left: 0px;
}
.row-wrapper.no-gap > div[class^=col] {
  padding-left: 0px;
}

.col-1-3 {
  padding-left: 60px;
  width: calc(100% / 3);
  margin-bottom: 30px;
}
@media (max-width: 720px) {
  .col-1-3 {
    width: 100%;
  }
}

.col-1-4 {
  padding-left: 60px;
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .col-1-4 {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .col-1-4 {
    width: 100%;
  }
}

.col-1-5 {
  padding-left: 60px;
  width: 20%;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .col-1-5 {
    width: calc(100% / 3);
  }
}
@media (max-width: 480px) {
  .col-1-5 {
    width: 100%;
  }
}

.lead-text {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  display: inline-block;
  min-width: 190px;
  padding: 12px 24px;
  margin-bottom: 15px;
  text-align: center;
  color: #ffffff;
  background-color: #ff6d6d;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
.btn:active, .btn:hover, .btn:visited {
  color: #ffffff;
}
.btn:hover {
  background-color: #f05757;
}

.site-header {
  min-height: 100vh;
  background-color: transparent;
  position: relative;
  background-image: url(/img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 5;
}
.site-header .showcase-wrapper, .site-header .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.site-header .showcase-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}
.site-header .showcase-wrapper .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-header .showcase-wrapper .showcase-content .main-heading {
  -webkit-animation: fadein 2s ease-in;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s ease-in;
  /* Firefox < 16 */
  -ms-animation: fadein 2s ease-in;
  /* Internet Explorer */
  -o-animation: fadein 2s ease-in;
  /* Opera < 12.1 */
  animation: fadein 2s ease-in;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinbtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}
.site-header .showcase-wrapper .showcase-content .video-btn {
  display: inline-block;
  width: auto;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  overflow: none;
  margin-bottom: 40px;
  transition: opacity 0.6s ease;
  opacity: 0.3;
  -webkit-animation: fadeinbtn 2s ease-in;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinbtn 2s ease-in;
  /* Firefox < 16 */
  -ms-animation: fadeinbtn 2s ease-in;
  /* Internet Explorer */
  -o-animation: fadeinbtn 2s ease-in;
  /* Opera < 12.1 */
  animation: fadeinbtn 2s ease-in;
}
.site-header .showcase-wrapper .showcase-content .video-btn:hover {
  opacity: 0.8;
}
.site-header .showcase-wrapper .showcase-content .video-btn-img {
  width: 60px;
  height: 60px;
}
.site-header .showcase-wrapper .showcase-content .btn-action {
  -webkit-animation: fadein 2s ease-in;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s ease-in;
  /* Firefox < 16 */
  -ms-animation: fadein 2s ease-in;
  /* Internet Explorer */
  -o-animation: fadein 2s ease-in;
  /* Opera < 12.1 */
  animation: fadein 2s ease-in;
}
.site-header .showcase-wrapper .showcase-content .info {
  font-size: 14px;
  line-height: 16px;
  -webkit-animation: fadein 2s ease-in;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s ease-in;
  /* Firefox < 16 */
  -ms-animation: fadein 2s ease-in;
  /* Internet Explorer */
  -o-animation: fadein 2s ease-in;
  /* Opera < 12.1 */
  animation: fadein 2s ease-in;
  position: relative;
  z-index: 5;
}
.site-header .showcase-wrapper .showcase-content .info:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  opacity: 0.3;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 8px #ffffff;
  z-index: -10;
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper {
  display: none;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  height: 100vh;
  width: 100%;
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 550px) {
  .site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container {
    padding: 100px 160px;
  }
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container .iframe-wrap {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container .iframe-wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container .close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 80px;
  line-height: 0px;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.site-header .showcase-wrapper .showcase-content .video-modal-wrapper .grid-container .close-btn:hover {
  opacity: 0.9;
}

.video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}

.video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.intro {
  position: relative;
  overflow: hidden;
}
.intro .form-wrapper {
  max-width: 70%;
}
@media (max-width: 768px) {
  .intro .form-wrapper {
    max-width: 100%;
  }
}
.intro .text__wrapper {
  padding-right: 170px;
}
@media (max-width: 768px) {
  .intro .text__wrapper h2 {
    font-size: 3rem;
  }
}
.intro .text__wrapper p {
  color: #717171;
}
@media (max-width: 768px) {
  .intro .text__wrapper {
    padding: 0;
  }
}
.intro .lead-text {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}
.intro .section-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 57%;
  overflow: hidden;
  background-color: #ececec;
}
.intro .section-image .rectangle {
  position: absolute;
  height: 1000%;
  width: 100%;
  background-color: #fb8686;
  left: 0;
  bottom: 0;
  transform: rotate(56deg);
  transform-origin: left bottom;
}
@media (max-width: 768px) {
  .intro .section-image {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .intro {
    padding: 30px 0;
  }
}

.features {
  background-size: cover;
  background-position: center center;
  position: relative;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 135px;
  background-color: #f6f5f3;
  overflow: hidden;
}
.features .features-header {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.features .features-header .lead-text {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 50px;
  color: #ff6d6d;
  text-transform: uppercase;
  font-weight: bold;
}
.features .row-wrapper img {
  display: block;
  margin: 0 auto 20px;
}
.features .row-wrapper h3 {
  text-align: center;
  padding: 10px;
}
.features .row-wrapper p {
  text-align: center;
  color: #717171;
}
.features .features-image .earphones {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: -10px;
  right: 300px;
}
@media (max-width: 1200px) {
  .features .features-image .earphones {
    right: 60px;
    max-width: 150px;
  }
}
@media (max-width: 768px) {
  .features .features-image .earphones {
    right: 20px;
  }
}
@media (max-width: 375px) {
  .features .features-image .earphones {
    right: -22px;
  }
}
@media (max-width: 300px) {
  .features .features-image .earphones {
    display: none;
  }
}
.features .features-image .penholder {
  position: absolute;
  top: -15px;
  left: 215px;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1200px) {
  .features .features-image .penholder {
    left: 0px;
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .features .features-image .penholder {
    right: 60px;
  }
}
.features .features-image .coffeecup {
  position: absolute;
  right: 90px;
  bottom: -135px;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1200px) {
  .features .features-image .coffeecup {
    right: 90px;
    max-width: 200px;
  }
}
@media (max-width: 768px) {
  .features .features-image .coffeecup {
    right: 0%;
  }
}

.design {
  padding: 100px 0;
  display: flex;
  position: relative;
  overflow: hidden;
}
.design-wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .design-wrapper {
    flex-direction: column;
  }
}
.design .design-image {
  width: 100%;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .design .design-image {
    order: 2;
  }
}
@media (max-width: 375px) {
  .design .design-image {
    min-height: 220px;
  }
}
.design .design-image-rectangle {
  background-color: #fb8686;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  transform: skewX(45deg);
  transform-origin: bottom;
}
.design .design-content {
  max-width: 50%;
  padding-left: 60px;
}
.design .design-content span {
  color: #ff6d6d;
}
@media (max-width: 768px) {
  .design .design-content h2 {
    font-size: 30px;
  }
}
.design .design-content p {
  color: #717171;
}
@media (max-width: 768px) {
  .design .design-content {
    max-width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .design {
    padding: 20px 0;
  }
}

.members {
  text-align: center;
  padding: 50px 0;
}
.members .member-box .member-photo {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.members .member-box .member-name {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 1px;
  text-transform: capitalize;
}
.members .member-box .member-title {
  color: #ff6d6d;
  padding-bottom: 55px;
  text-transform: capitalize;
}
.members .member-box .quote {
  color: #b3b4b6;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 26px;
  margin: 40px 0;
}
.members .firm-logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 70%;
  padding-top: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .members .firm-logo {
    width: 55%;
    padding-top: 75%;
  }
}
@media (max-width: 480px) {
  .members .firm-logo {
    width: 35%;
    padding-top: 30%;
  }
}

.contact {
  padding: 90px 0;
  position: relative;
}
.contact .section-heading {
  text-align: center;
}
.contact .section-heading h2 {
  color: #ffffff;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .contact .section-heading h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.contact .contact-wrapper {
  text-align: center;
}
.contact .submit {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.contact .form-submit {
  cursor: pointer;
  display: block;
  width: 100%;
}
.contact .form-input {
  width: 100%;
}
.contact .trial {
  position: absolute;
  top: -62px;
  color: #ffffff;
  padding-left: 25px;
  width: 100%;
  left: 10%;
}
.contact .trial::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 60%;
  left: 10%;
  background-image: url(../img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .contact .trial::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .contact .trial {
    top: 66px;
    left: 3%;
  }
}
@media (max-width: 480px) {
  .contact .trial {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.contact .terms {
  text-align: center;
}
.contact .terms a {
  color: #f6f5f3;
}
@media (max-width: 768px) {
  .contact .terms a {
    font-size: 14px;
  }
}
.contact .terms span {
  text-decoration: underline;
}
@media (max-width: 375px) {
  .contact .terms span {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .contact {
    padding: 45px;
  }
}
@media (max-width: 375px) {
  .contact {
    padding: 30px 0;
  }
}

.browser {
  background-color: #f6f5f3;
  position: relative;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 100px;
}
.browser p {
  padding: 10px 200px;
  color: #717171;
}
@media (max-width: 768px) {
  .browser p {
    padding: 10px 50px;
  }
}
@media (max-width: 375px) {
  .browser p {
    padding: 0px;
  }
}
.browser img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  display: flex;
  padding: 100px 0;
  overflow: hidden;
  position: relative;
}
.footer .footer-wrapper {
  margin-right: 100px;
}
.footer .footer-wrapper .description a {
  display: inline-block;
}
.footer .footer-wrapper .description p {
  color: #717171;
}
.footer .footer-wrapper .newsletter .newsletter-form {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .footer .footer-wrapper .description, .footer .footer-wrapper .newsletter {
    order: -1;
  }
}
.footer .footer-links {
  display: block;
  color: #979797;
  margin-bottom: 15px;
}
.footer .footer-links:hover {
  text-decoration: underline;
}
.footer .newsletter .newsletter-form {
  display: flex;
}
.footer .newsletter .newsletter-input {
  background-color: #f6f6f6;
  position: relative;
  color: #323969;
}
.footer .newsletter .newsletter-submit {
  background-image: url(../img/corpbck.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  height: 100%;
}
.footer .newsletter .before {
  position: relative;
  width: 100%;
}
.footer .newsletter .social-links .social-link {
  display: inline-block;
  margin: 0 0 20px 20px;
}
.footer .newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 200px 0;
  border-color: transparent #ff8a8a transparent transparent;
  z-index: -1;
}
@media (max-width: 768px) {
  .footer .newsletter::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */
